<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layout.html}">
<head>
  <title>Index</title>
</head>
<body>
  <section layout:fragment="content">
    <h1>Ollama phi4 Demo</h1>
       
    <form hx-post="/chat" hx-swap="beforeend" hx-target="#query-results" hx-on::after-request="this.reset()">
        <input type="text" name="query" placeholder="Enter a query..." >
    </form>

    <div th:replace="~{response::result}"></div>
      
  </section>
</body>
</html>